

body{
    font-family: futura-pt, sans-serif;
}

/* header */

.header{
    color: whitesmoke; 
    text-shadow:1px 0 2px black;
    width: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1; 
    left: 5%;
}

.site-title{
    font-size: 35px;
    font-weight: 500;
}

.nav-list{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 300;
}

.nav-item{
    margin-right: 30px;
}

.nav-item:last-child{
    margin-right: 0;
}

@media screen and (max-width:375px) {

    
    .site-title{
        font-size: 25px;
        font-weight: 500;
    }
    
    .nav-list{
        display: block;
        font-size: 20px;
        font-weight: 300;
    }
    
    .nav-item{
        margin-right: 0px;
        margin-bottom: 5px;
    }
    
    .nav-item:last-child{
        margin-right: 0;
        margin-bottom: 0;
    }
    
}

/* main */

/* kv */

.kv-wrapper{
    background-image: url(../img/fv.webp);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center ;
    width: 100%;
    height: 600px;
    padding-top: 250px; 
}

.kv-copy{
    color: whitesmoke;
    text-shadow:1px 1px 2px black;
    width: 80%;
    margin: 0% auto;
    text-align: center;
}

.kv-name{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 30px;
}

.kv-message{
    font-size: 20px;
}

@media screen and (max-width:375px) {
    

    .kv-name{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    
    .kv-message{
        font-size: 10px;
        font-weight: 300;
    
    }
}

/* website works */

.section-wrapper{
    width: 70%;
    margin:150px auto 0;
   
}


.section-title{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid gray;
}

.works-list{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.works-item{
     margin: 10% 0 0; 
    width: 45%;
}

.works-img-wrapper{
    /* width: 100%; */
    border: 1px solid gray;
}

.works-item img{
    width: 80%;
    height: 80%;
    margin: 5% 10% ;
}

.works-title{
    display: block;
    font-size: 20px;
    padding-top: 5%; 
}

.works-category{
    font-size: 15px;
    font-weight: 100;
    margin-top: 10px;
}

@media screen and (max-width:375px) {
    .section-wrapper{
        margin:100px auto 0;
    }
    
    
    .section-title{
        font-size: 20px;
    }
    
    .works-list{
        margin-top: 30px;
        display: block;
        justify-content:center;
        flex-wrap: nowrap;
    }
    
    .works-item{
        margin: 20% 0 0; 
        width: 100%;
    }
    
}

/* about */

.section-title_jp{
    margin-top: 20px;
    font-size: 20px;
}

.about-lead{
    /* text-align: center; */
    font-size: 15px;
    letter-spacing: 0.05em;
    line-height: 2;
    width: 70%;
    margin: 30px auto 70px;
}



.link-btn{
    width: 150px;
    height: 40px;
    padding: 10px;
    display: block;
    margin: 0 auto; 
    background-color: black;
    color: aliceblue;
    text-align: center;
    border-radius: 50px;
}

.skill p {
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.05em;
    line-height: 2;
    width: 70%;
    margin: 30px auto;
}


@media screen and (max-width:375px) {
    
  
    
    .about-lead{
        font-size: 15px;
        letter-spacing: 0.05em;
        line-height: 2;
        width: 70%;
        margin: 30px auto 60px;
    }

    .skill p{
        text-align: start;
    }
    
    
}




/* footer */

.footer{
    text-align: center;
    border-top: 1px solid gray;
    height: 50px;
    align-items: center;
    margin-top: 50px;
    padding-top: 15px;
}


